/* body {
  width: 100%;
} */

header {
  margin: 30px 60px;
  width: 90%;
}

ul {
  list-style: none;
  text-align: right;
}

h1 {
  float: left;
  font-size: 24px;
  color: #003F8E;
}

li {
  display: inline;
  font-weight: bold;
  margin-left: 20px;
  color: #003F8E;
}

.main {
  margin: 80px 20px;
  width: 95%;
  height: 400px;
  position: relative;
}

img {
  height: 100%;
  float: right;
  z-index: 10;
}

.text {
  width: 75%;
  height: 40%;
  font-size: 50px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.box {
  height: 100%;
  background-color: #003F8E;
  color: #003F8E;
}